# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
*.pyz

# Virtual environments
venv/
.venv/
env/

# OS or editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

